body {
  background-color: aquamarine;
}

#app {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: green;
}

.list {
  background-color: blue;
}

.countdown {
  background-color: red;
}

.world {
  background-color:yellow;
}